#container {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 1fr 1fr;
    grid-gap: 32px;
    margin: 16px;
}

.seznam {
    border: 2px solid darkred;
    font-size: 18px;
    color: darkred;
    display: flex;
    justify-content: space-between;
    text-align: justify;
}

.seznam>div {
    margin: 16px 32px;
}

.seznam h2 {
    margin-top: -4px;
}

.seznam img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    margin: 16px;
}